table {
    vertical-align:middle;
    border: 1px solid black;
    border-collapse: collapse;
  }

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 7px;
  }
nav {
    border: 5px solid rgb(81, 114, 16);
    background-color: rgb(77, 114, 4);
}
a:link, a:visited {
  background-color: DodgerBlue;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: indianred;
}

h1, h2, h3, h4 {
    text-align: left;
    
}
