{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>dj Operat - opracowanie dokumentacji</title>
    <link rel="stylesheet" type="text/css" href={% static 'operat/styles.css' %}/>
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
</head>
<body>
<nav>
    <a href="/" >dj Operat </a>  &nbsp
    <a href="{% url 'operat:zestawienie' %}" > Zestawienie Robót </a> &nbsp
    <a href="{% url 'operat:generowanie' %}" > Generowanie dokumentacji </a> &nbsp
</nav>
{% block content %}
{% endblock %}
<p> Wykonał: Adam Jaworski</p>
</html>
